.catalog {
  display: grid;
  justify-content: center;
  grid-column-gap: 48px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $cards-width);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $cards-width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $cards-width);
  }

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: $cards-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }
}
